::ng-deep .line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 1.5;
}

::ng-deep .overlay {
    fill: none;
    pointer-events: all;
}

::ng-deep .dot {
    fill: #ffab00;
    stroke: #ffab00;
}

::ng-deep .line-chart-title {
    fill: #ffab00;
}

.chart {
    width: 90%;
    height: 90%;
    min-height: 300px;
    margin: 20px 30px;
}

::ng-deep path { 
    stroke: #ffab00;
    stroke-width: 2;
    fill: none;
}

::ng-deep .axis path,
::ng-deep .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

::ng-deep .tooltip-circle {
    fill: none;
    stroke: black;
}

::ng-deep .tooltip-x-line, ::ng-deep .tooltip-y-line {
    opacity: 0.5;
    stroke: black;
    stroke-dasharray: 3,3;
}


@media only screen and (max-width: 400px) 
{
    .chart {
        width: 95%;
        margin: 20px;
    }
} 